<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="<%= BASE_URL %>favicon.ico">
        <title><%= htmlWebpackPlugin.options.title %></title>

        {# htmlWebpackPlugin.tags.headTags requires html-weback-plugin 4.0 we have 3.2 #}
        {# with 3.2 the "way" is to loop over htmlWebpackPlugin.files.css for CSS #}
        <% for (var item in htmlWebpackPlugin.files.css) { %>
            <link href="<%= htmlWebpackPlugin.files.css[item] %>" rel="preload" as="style">
            <link href="<%= htmlWebpackPlugin.files.css[item] %>" rel="stylesheet">
        <% } %>
        {# we can also loop over JS files here, marking them as preload #}
        <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
            <link href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" rel="preload" as="script">
        <% } %>

    </head>
    <body>
        <noscript>
            <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="apptwo"></div>
        {# inject all webpack chunks #}
        {# htmlWebpackPlugin.tags.bodyTags requires html-weback-plugin 4.0 we have 3.2 #}
        {# with 3.2 the "way" is to loop over htmlWebpackPlugin.files.chunks for JS #}
        <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
        <% } %>
    </body>
</html>
